{% extends 'base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <a href="{% url 'home' %}">
            <i class="material-icons">home</i>
        </a>
        
        <main class="container">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td>
                            <a href="{% url 'detail' customer.id %}">{{ customer.name }}</a>
                        </td>
                        <td>{{ customer.last_name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.date_en }}</td>
                        <td><a href="{% url 'update' customer.id %}">update</a></td>
                        <td><a href="{% url 'delete' customer.id %}">delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
    </html>
{% endblock  %}